Repository ezhivitsa/redis-gui: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint "src/**/*.{ts,tsx}", npx stylelint "src/**/*.pcss", npx tsc --noEmit

[+] Add loading state for button
  src/constants/app-constants.ts
  src/lib/redis/base-redis.ts
  src/lib/redis/redis.ts
  src/scenes/edit-value-form/edit-value-form-store.ts
  src/scenes/edit-value-form/edit-value-form-view.tsx
  src/scenes/open-connection/open-connection-store.ts
  src/scenes/open-connection/open-connection-view.tsx
  src/scenes/open-connection/open-connection.pcss
  src/stores/connection-data-store.ts
  src/ui/button/button.pcss
  src/ui/button/button.tsx
  src/ui/button/button_theme_dark.pcss
  src/ui/input/input.pcss
  src/ui/spinner/spinner.pcss
  src/ui/spinner/spinner.tsx
Due: npx eslint "src/**/*.{ts,tsx}", npx stylelint "src/**/*.pcss", npx tsc --noEmit

[*] Start refactoring connections store
  src/lib/key.ts
  src/scenes/open-connection/index.ts
  src/scenes/open-connection/open-connection-store.ts
  src/scenes/open-connection/types.ts
  src/stores/connection-data-store.ts
  src/stores/connections-data-store.ts
  src/stores/index.ts
  src/stores/root.ts
  src/stores/value-tabs-store.ts
Due: npx eslint "src/**/*.{ts,tsx}", npx tsc --noEmit

[+] Add logic when delete key
  src/lib/key.ts
  src/lib/redis/base-redis.ts
  src/lib/redis/ioredis.ts
  src/lib/redis/redis.ts
  src/lib/redis/types.ts
  src/scenes/connections-list-modal/components/connections-list/components/components-list-table/components-list-table.pcss
  src/scenes/connections-list-modal/components/connections-list/components/components-list-table/components-list-table.tsx
  src/scenes/edit-value-form/edit-value-form-store.ts
  src/scenes/edit-value-form/index.ts
  src/scenes/main-page/main-page-view.tsx
  src/scenes/open-connection/open-connection-store.ts
  src/scenes/open-connection/open-connection-view.tsx
  src/stores/connections-data-store.ts
  src/stores/value-tabs-store.ts
  src/ui/table/table.pcss
  src/ui/table/table.tsx
Due: npx eslint "src/**/*.{ts,tsx}", npx stylelint "src/**/*.pcss", npx tsc --noEmit

[+] Add light theme styles
  .lintstagedrc.json
  .tsconfig-lint.json
  Makefile
  package.json
  src/lib/theme/provider.tsx
  src/scenes/app/app.tsx
  src/scenes/connection-modal/components/test-connect-result/test-connect-result.pcss
  src/scenes/connection-modal/connection-modal.pcss
  src/scenes/connection-modal/connection-modal_theme_dark.pcss
  src/scenes/connection-modal/connection-modal_theme_light.pcss
  src/scenes/edit-value-form/edit-value-form-view.tsx
  src/scenes/main-page/index.ts
  src/scenes/main-page/main-page-store.ts
  src/scenes/main-page/main-page-view.tsx
  src/scenes/main-page/main-page.pcss
  src/scenes/main-page/main-page_theme_dark.pcss
  src/scenes/main-page/main-page_theme_light.pcss
  src/scenes/open-connection/open-connection-view.tsx
  src/scenes/open-connection/open-connection.pcss
  src/scenes/open-connection/open-connection_theme_dark.pcss
  src/scenes/open-connection/open-connection_theme_light.pcss
  src/stores/connections-data-store.ts
  src/styles/vars/color.pcss
  src/styles/vars/opacity.pcss
  src/ui/button-icon/button-icon_theme_light.pcss
  src/ui/button/button_theme_light.pcss
  src/ui/checkbox/checkbox_theme_light.pcss
  src/ui/heading/heading_theme_light.pcss
  src/ui/input/input_theme_light.pcss
  src/ui/label/label_theme_light.pcss
  src/ui/modal/modal_theme_light.pcss
  src/ui/paragraph/paragraph_theme_light.pcss
  src/ui/select/select_theme_light.pcss
  src/ui/spinner/spinner_theme_light.pcss
  src/ui/table/table_theme_dark.pcss
  src/ui/table/table_theme_light.pcss
  src/ui/tabs/tabs_theme_light.pcss
  src/ui/textarea/textarea_theme_light.pcss
  src/ui/upload-input/upload-input_theme_light.pcss
  yarn.lock
Due: npx eslint "src/**/*.{ts,tsx}", npx stylelint "src/**/*.pcss", npx tsc --noEmit

[+] Add ssh support
  README.md
  package.json
  src/lib/redis/base-redis.ts
  src/lib/redis/configs.ts
  src/lib/redis/index.ts
  src/lib/redis/ioredis.ts
  src/lib/redis/redis.ts
  src/lib/redis/tunnel-ssh.ts
  src/lib/redis/types.ts
  src/package.json
  src/scenes/connection-modal/connection-modal-store.ts
  src/scenes/main-page/main-page.pcss
  src/stores/connections-data-store.ts
  src/yarn.lock
  yarn.lock
Due: npx eslint "src/**/*.{ts,tsx}", npx stylelint "src/**/*.pcss", npx tsc --noEmit

[*] Don't show original value in password input
  README.md
  src/lib/key.ts
  src/scenes/open-connection/open-connection-store.ts
  src/scenes/open-connection/open-connection-view.tsx
  src/stores/connections-data-store.ts
  src/stores/value-tabs-store.ts
  src/ui/input/input.tsx
  src/ui/password-input/password-input.tsx
  src/yarn.lock
  yarn.lock
Due: npx eslint "src/**/*.{ts,tsx}", npx tsc --noEmit

[+] Add ability to disconnect connection
  src/scenes/edit-value-form/edit-value-form-store.ts
  src/scenes/edit-value-form/edit-value-form-view.tsx
  src/scenes/main-page/main-page-store.ts
  src/scenes/main-page/main-page-view.tsx
  src/scenes/open-connection/open-connection-store.ts
  src/scenes/open-connection/open-connection-view.tsx
  src/scenes/open-connection/open-connection.pcss
  src/scenes/open-connection/open-connection_theme_dark.pcss
  src/stores/connections-data-store.ts
  src/stores/value-tabs-store.ts
Due: npx eslint "src/**/*.{ts,tsx}", npx stylelint "src/**/*.pcss", npx tsc --noEmit

[*] Handle menu event
  README.md
  src/menu/index.ts
  src/menu/menu-observer.ts
  src/menu/menu.ts
  src/package.json
  src/scenes/main-page/components/resizable-layout/index.ts
  src/scenes/main-page/components/resizable-layout/resizable-layout.pcss
  src/scenes/main-page/components/resizable-layout/resizable-layout.tsx
  src/scenes/main-page/components/resizable-layout/resizable-layout_theme_dark.pcss
  src/scenes/main-page/components/resizable-layout/resizable-layout_theme_light.pcss
  src/scenes/main-page/components/top-actions/index.ts
  src/scenes/main-page/components/top-actions/top-actions.pcss
  src/scenes/main-page/components/top-actions/top-actions.tsx
  src/scenes/main-page/components/top-actions/top-actions_theme_dark.pcss
  src/scenes/main-page/components/top-actions/top-actions_theme_light.pcss
  src/scenes/main-page/main-page-view.tsx
  src/scenes/main-page/main-page.pcss
  src/scenes/main-page/main-page_theme_dark.pcss
  src/scenes/main-page/main-page_theme_light.pcss
  src/scenes/open-connection/open-connection_theme_light.pcss
  src/yarn.lock
Due: npx eslint "src/**/*.{ts,tsx}", npx stylelint "src/**/*.pcss", npx tsc --noEmit

[*] Update dependencies
  Makefile
  README.md
  assets/icon.icns
  assets/icon.ico
  assets/icon.png
  assets/icon.svg
  assets/icons/1024x1024.png
  assets/icons/128x128.png
  assets/icons/16x16.png
  assets/icons/24x24.png
  assets/icons/256x256.png
  assets/icons/32x32.png
  assets/icons/48x48.png
  assets/icons/512x512.png
  assets/icons/64x64.png
  assets/icons/96x96.png
  configs/webpack.config.renderer.dev.babel.js
  configs/webpack.config.renderer.prod.babel.js
  package.json
  src/lib/page.ts
  src/lib/redis/redis.ts
  src/lib/theme/styles.ts
  src/main.dev.ts
  src/package.json
  src/scenes/app/app.tsx
  src/scenes/connection-modal/connection-modal-store.ts
  src/scenes/main-page/components/resizable-layout/resizable-layout.pcss
  src/scenes/main-page/components/resizable-layout/resizable-layout.tsx
  src/stores/connections-store.ts
  src/ui/table/table.tsx
  src/yarn.lock
  yarn.lock
Due: npx eslint "src/**/*.{ts,tsx}", npx stylelint "src/**/*.pcss", npx tsc --noEmit

[+] Add readme
  README.md
  assets/screenshots/1.png
  assets/screenshots/2.png
  assets/screenshots/3.png
  assets/screenshots/4.png
  assets/screenshots/5.png
  src/scenes/main-page/components/resizable-layout/resizable-layout.pcss
  src/scenes/main-page/components/resizable-layout/resizable-layout.tsx
  src/ui/button/button_theme_dark.pcss
  src/ui/button/button_theme_light.pcss
Due: npx eslint "src/**/*.{ts,tsx}", npx stylelint "src/**/*.pcss", npx tsc --noEmit

Update npm dependencies
  Makefile
  package.json
  tsconfig.json
  yarn.lock
Due: none

Update webpack configs
  .eslintignore
  .gitignore
  .nvmrc
  .tsconfig-lint.json
  Makefile
  babel.config.js
  configs/scripts/.eslintrc
  configs/scripts/check-build-exists.ts
  configs/scripts/check-native-dep.js
  configs/scripts/check-node-env.js
  configs/scripts/check-port-in-use.js
  configs/scripts/clean.js
  configs/scripts/delete-source-maps.js
  configs/scripts/electron-rebuild.js
  configs/scripts/link-modules.ts
  configs/scripts/notarize.js
  configs/webpack.config.base.js
  configs/webpack.config.renderer.dev.babel.js
  configs/webpack/.eslintrc
  configs/webpack/webpack.config.base.ts
  configs/webpack/webpack.config.eslint.ts
  configs/webpack/webpack.config.main.prod.ts
  configs/webpack/webpack.config.preload.dev.ts
  configs/webpack/webpack.config.renderer.dev.dll.ts
  configs/webpack/webpack.config.renderer.dev.ts
  configs/webpack/webpack.config.renderer.prod.ts
  configs/webpack/webpack.paths.ts
  package.json
  scripts/BabelRegister.js
  scripts/CheckBuildsExist.js
  scripts/DeleteSourceMaps.js
  scripts/ElectronRebuild.js
  tsconfig.json
Due: none

Add ipc renderer
  src/main/ipc-renderer/main-base.ts
  src/main/ipc-renderer/main.ts
  src/main/ipc-renderer/native-theme/main.ts
  src/main/ipc-renderer/native-theme/renderer.ts
  src/main/ipc-renderer/native-theme/types.ts
  src/main/ipc-renderer/renderer-base.ts
  src/main/ipc-renderer/renderer.ts
  src/main/ipc-renderer/types.ts
  src/main/main.ts
  src/main/preload.ts
  src/renderer/scenes/app/app.tsx
Due: npx eslint "src/**/*.{ts,tsx}", npx tsc --noEmit

Add a logic send native theme changes from the main process to the renderer process.
  .lintstagedrc.json
  package-lock.json
  package.json
  src/main/ipc-renderer/main-base.ts
  src/main/ipc-renderer/native-theme/main.ts
  src/main/ipc-renderer/native-theme/renderer.ts
  src/main/ipc-renderer/native-theme/types.ts
  src/main/ipc-renderer/renderer-base.ts
  src/main/ipc-renderer/types.ts
  src/main/main.ts
  src/main/preload.ts
  src/renderer/@types/preload.d.ts
  src/renderer/scenes/app/app.tsx
Due: npx eslint "src/**/*.{ts,tsx}", npx tsc --noEmit

Add tunnel-ssh module
  package-lock.json
  release/app/package-lock.json
  release/app/package.json
  src/main/ipc-renderer/main.ts
  src/main/ipc-renderer/menu/main.ts
  src/main/ipc-renderer/menu/renderer.ts
  src/main/ipc-renderer/menu/types.ts
  src/main/ipc-renderer/renderer.ts
  src/main/ipc-renderer/types.ts
  src/main/main.ts
  src/main/menu.ts
  src/main/menu/index.ts
  src/main/menu/types.ts
  src/main/preload.ts
  src/renderer/@types/tunnel-ssh.d.ts
  src/renderer/lib/redis/tunnel-ssh.ts
  src/renderer/scenes/app/app.tsx
  src/renderer/scenes/main-page/main-page-view.tsx
  tsconfig.json
Due: npx eslint "src/**/*.{ts,tsx}", npx tsc --noEmit

Move redis lib from the renderer part to the main part.
  .prettierrc.json
  configs/scripts/check-native-dep.js
  configs/scripts/check-node-env.js
  configs/scripts/clean.js
  configs/scripts/delete-source-maps.js
  configs/scripts/electron-rebuild.js
  configs/scripts/link-modules.ts
  configs/webpack/webpack.config.base.ts
  package-lock.json
  src/main/constants/app-constants.ts
  src/main/ipc-renderer/redis/main.ts
  src/main/ipc-renderer/redis/renderer.ts
  src/main/ipc-renderer/redis/types.ts
  src/main/ipc-renderer/types.ts
  src/main/lib/assert/guards.ts
  src/main/lib/assert/index.ts
  src/main/lib/db/index.ts
  src/main/lib/db/types.ts
  src/main/lib/key.ts
  src/main/lib/redis/base-redis.ts
  src/main/lib/redis/configs.ts
  src/main/lib/redis/index.ts
  src/main/lib/redis/ioredis.ts
  src/main/lib/redis/redis.ts
  src/main/lib/redis/tunnel-ssh.ts
  src/main/lib/redis/types.ts
  src/main/main.ts
  src/renderer/data/connections.ts
  tsconfig.json
Due: npx eslint "src/**/*.{ts,tsx}", npx tsc --noEmit

Add ipc renderer for redis
  src/main/ipc-renderer/menu/types.ts
  src/main/ipc-renderer/native-theme/types.ts
  src/main/ipc-renderer/redis/main.ts
  src/main/ipc-renderer/redis/renderer.ts
  src/main/ipc-renderer/redis/types.ts
Due: npx eslint "src/**/*.{ts,tsx}", npx tsc --noEmit

Add Redis class to incorporate work with window.electron.redis
  src/main/ipc-renderer/main.ts
  src/main/ipc-renderer/redis/main.ts
  src/main/ipc-renderer/redis/renderer.ts
  src/main/ipc-renderer/redis/types.ts
  src/main/ipc-renderer/renderer.ts
  src/main/lib/assert/asserts.ts
  src/main/lib/assert/index.ts
  src/main/preload.ts
  src/renderer/lib/redis.ts
  src/renderer/lib/redis/base-redis.ts
  src/renderer/lib/redis/configs.ts
  src/renderer/lib/redis/index.ts
  src/renderer/lib/redis/ioredis.ts
  src/renderer/lib/redis/redis.ts
  src/renderer/lib/redis/tunnel-ssh.ts
  src/renderer/lib/redis/types.ts
  src/renderer/scenes/connection-modal/connection-modal-store.ts
  src/renderer/scenes/connections-list-modal/connections-list-modal-store.ts
Due: npx eslint "src/**/*.{ts,tsx}", npx tsc --noEmit

Fix problem with transferring data from renderer to main process.
  .lintstagedrc.json
  .prettierrc.json
  configs/webpack/webpack.config.base.ts
  configs/webpack/webpack.paths.ts
  src/data/index.ts
  src/data/types.ts
  src/lib/assert/asserts.ts
  src/lib/assert/guards.ts
  src/lib/assert/index.ts
  src/lib/key.ts
  src/main/constants/app-constants.ts
  src/main/ipc-renderer/main.ts
  src/main/ipc-renderer/redis/main.ts
  src/main/ipc-renderer/redis/renderer.ts
  src/main/ipc-renderer/redis/types.ts
  src/main/lib/key.ts
  src/main/lib/redis/base-redis.ts
  src/main/lib/redis/configs.ts
  src/main/lib/redis/ioredis.ts
  src/main/lib/redis/redis.ts
  src/main/lib/redis/tunnel-ssh.ts
  src/main/main.ts
  src/renderer/constants/app-constants.ts
  src/renderer/lib/key.ts
  src/renderer/lib/redis.ts
  src/renderer/scenes/app/app.tsx
  src/renderer/scenes/connection-modal/connection-modal-store.ts
  src/renderer/scenes/connections-list-modal/connections-list-modal-store.ts
  src/renderer/scenes/edit-value-form/edit-value-form-store.ts
  src/renderer/scenes/open-connection/open-connection-store.ts
  src/renderer/stores/connections-data-store.ts
  src/renderer/stores/value-tabs-store.ts
Due: npx eslint "src/**/*.{ts,tsx}", npx tsc --noEmit

Fix tsconfig validation
  src/main/ipc-renderer/redis/main.ts
  src/main/ipc-renderer/renderer-base.ts
  tsconfig.json
Due: npx eslint "src/**/*.{ts,tsx}", npx tsc --noEmit

Fix closing connection after failed connection
  src/main/ipc-renderer/redis/main.ts
  src/main/ipc-renderer/redis/renderer.ts
  src/main/ipc-renderer/redis/types.ts
  src/main/lib/redis/base-redis.ts
  src/main/lib/redis/configs.ts
  src/main/lib/redis/ioredis.ts
  src/main/lib/redis/redis.ts
  src/main/lib/redis/tunnel-ssh.ts
  src/main/lib/tunnel-ssh/index.ts
  src/main/lib/tunnel-ssh/tunnel-ssh.ts
  src/main/lib/tunnel-ssh/types.ts
  src/renderer/@types/tunnel-ssh.d.ts
  src/renderer/lib/redis.ts
  tsconfig.json
Due: npx eslint "src/**/*.{ts,tsx}", npx tsc --noEmit

Update returning errors from main process to renderer
  src/lib/assert/asserts.ts
  src/main/ipc-renderer/redis/main.ts
  src/main/ipc-renderer/redis/renderer.ts
  src/main/ipc-renderer/redis/types.ts
  src/renderer/lib/assert/guards.ts
  src/renderer/lib/assert/index.ts
  src/renderer/lib/redis.ts
Due: npx eslint "src/**/*.{ts,tsx}", npx tsc --noEmit

Delete duplicated code
  .lintstagedrc.json
  src/main/lib/redis/tunnel-ssh.ts
  src/renderer/data/connections.ts
  src/renderer/lib/db/index.ts
  src/renderer/lib/db/types.ts
  src/renderer/scenes/connection-modal/components/authentication-form/authentication-form.tsx
  src/renderer/scenes/connection-modal/components/main-form/main-form.tsx
  src/renderer/scenes/connection-modal/components/ssh-form/ssh-form.tsx
  src/renderer/scenes/connection-modal/components/tls-form/tls-form.tsx
  src/renderer/scenes/connection-modal/connection-modal-store.ts
  src/renderer/scenes/connection-modal/types.ts
  src/renderer/scenes/connections-list-modal/components/connections-list/components/components-list-table/components-list-table.tsx
  src/renderer/scenes/connections-list-modal/components/connections-list/connections-list.tsx
  src/renderer/scenes/connections-list-modal/connections-list-modal-store.ts
  src/renderer/stores/connection-store.ts
  src/renderer/stores/connections-store.ts
Due: npx eslint "src/**/*.{ts,tsx}", npx tsc --noEmit

Update dependencies
  package-lock.json
  package.json
  release/app/package-lock.json
  release/app/package.json
Due: none

Path conditions:
  npx eslint "src/**/*.{ts,tsx}": (any of: src/*.{js,jsx,ts,tsx}) or (any of: src/**/*.{ts,tsx})
  npx stylelint "src/**/*.pcss": (any of: src/*.{pcss}) or (any of: src/**/*.pcss)
  npx tsc --noEmit: any of: src/**/*.{ts,tsx}
